.admincp-button {
	position:absolute;
	top:10px;
	right:10px;
}

.page-title {
	font-size: 32px;
	margin-bottom: 10px;
	font-weight: bold;
}

/* RANKINGS MODULE */
.rankings-table {
	width: 100%;
	border-spacing: 0;
	border-collapse: collapse;
}

.rankings-class-image {
	width: 30px;
	height: auto;
	-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	-moz-border-radius: 50%;
	border-radius: 50%;
}
.rankings-table tr td {
	border-bottom: 1px solid #352825;
	padding: 10px;
	font-size: 18px;
	vertical-align: middle !important;
	text-align: center;
}
.rankings-table-place {
	color: #666;
	font-weight: bold;
	font-size: 24px;
	text-align: center;
}
.rankings-table tr:first-child td {
	color: #677c9a;
	border-bottom: 3px solid #43a0ff;
}
.rankings-update-time {
	text-align: right;
	font-size: 11px;
	color: #ccc;
	padding: 10px 0px;
}
.rankings_menu {
	width: 100%;
	overflow: auto;
	text-align: center;
	margin-bottom: 20px;
}
.rankings_menu span {
	width: 100%;
	display: inline-block;
	padding: 10px 0px;
	color: #ccc;
	font-size: 24px;
}
.rankings_menu a {
	display: inline-block;
	width: 150px;
	border: 1px solid #546070;
	text-align: center;
	padding: 10px 0px;
	margin: 2px;
	background: #171b21;
	-moz-border-radius: 2px;
	border-radius: 2px;
	color: #c7b5b1;
}
.rankings_menu a.active {
	color: #f7ddbf;
	border-color: #f7ddbf;
}
.rankings_guild_logo tr td {
	border: 0px !important;
	padding: 0px !important;
	margin: 0px !important;
}
.rankings-gens-img {
	width: auto !important;
	height: 30px !important;
	border: 0 !important;
	-moz-box-shadow: 0 0 0px #000 !important;
	-webkit-box-shadow: 0 0 0px #000 !important;
	box-shadow: 0 0 0px #000 !important;
	-moz-border-radius: 0px !important;
	border-radius: 0px !important;
}

/* MY ACCOUNT MODULE */
.myaccount-table {
	width: 100%;
	background: #000000 url('../img/myaccount_bg.jpg') no-repeat;
	background-size: cover;
	border: 1px solid #004891;
	-moz-box-shadow: 0 0 60px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0 0 60px rgba(0, 0, 0, 0.3);
	box-shadow: 0 0 60px rgba(0, 0, 0, 0.3);
}
.myaccount-table tr td:first-child {
	color: #47bcff;
}
.myaccount-table tr td {
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	padding: 20px 40px !important;
}
.myaccount-table tr:last-child td {
	border: 0px;
}

/* GENERAL TABLE UI */
.general-table-ui {
	width: 100%;
	table-layout: fixed;
	background: #333333 url('../img/general_table_bg.jpg') no-repeat;
	background-size: cover;
	border: 1px solid #222;
	padding: 10px;
	margin: 10px 0px;
	-moz-box-shadow: 0 0 60px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0 0 60px rgba(0, 0, 0, 0.3);
	box-shadow: 0 0 60px rgba(0, 0, 0, 0.3);
}
.general-table-ui tr td {
	padding: 5px;
	vertical-align: middle !important;
}
.general-table-ui tr:first-child td {
	color: #ffcc00;
}
.general-table-ui tr:nth-child(2n+2) td {
	background: rgba(0, 0, 0, 0.1);
}
.general-table-ui tr td {
	text-align: center;
}
.general-table-ui img {
	width: 50px;
	height: auto;
	-moz-box-shadow: 0 0 5px #000;
	-webkit-box-shadow: 0 0 5px #000;
	box-shadow: 0 0 5px #000;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

/* TERMS OF SERVICE PAGE */
.tos_list li {
	color: #ffcc00;
	font-weight: bold;
	font-size: 18px;
	margin-bottom: 40px;
}
.tos_list li p {
	color: #fff;
	text-align: justify;
	text-justify: inter-word;
	text-transform: none;
	padding-right: 35px;
	font-size: 14px;
	font-weight: normal;
}

/* PAYPAL */
.paypal-gateway-container {
width: 100%;
background: #1a2133;
border: 1px solid #2e374f;
}

.paypal-gateway-logo {
width: 100%;
height: 68px;
background: #fff9ec url('../img/paypal-logo-200-68.png') no-repeat top center;
margin-bottom: 10px;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
}

.paypal-gateway-content {
margin: 10px;
background: #fef2da;
border: 2px solid #f79433;
padding: 10px;
overflow: auto;
}

.paypal-gateway-conversion-rate {
margin: 0px auto;
text-align: center;
color: #000;
font-size: 18px;
padding: 10px 0px;
}

.paypal-gateway-form {
width: 100%;
margin: 0px auto;
text-align: center;
}

.paypal-gateway-form div {
display: inline-block;
padding: 0px 10px;
color: #000;
font-size: 18px;
}

.paypal-gateway-form input[type=text] {
width: 40px;
}

.paypal-gateway-continue {
margin: 0px auto;
text-align: center;
}

.paypal-gateway-continue input[type=submit] {
background: url('../img/paypal-submit.jpg') no-repeat;
width: 200px;
height: 40px;
border: 0px;
}

/* CASTLE SIEGE CSS */
.csinfo_container {
	background: url('../img/castle_siege.jpg') no-repeat top right;
	background-size: cover;
	width: 100%;
	padding: 20px;
	margin-bottom: 20px;
	border: 1px solid #333;
	-moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -khtml-border-radius: 10px;
}
.csinfo_content {
	width: 100%;
	height: 180px;
	margin: 10px 0px 0px 10px;
	display: inline-block;
}
	.csinfo_glogo {
		float: left;
		width: 30%;
		height: 180px;
		text-align: center;
	}
	.csinfo_ginfo {
		float: left;
		width: 70%;
		padding: 0px 10px;
	}
	
		.csinfo_ginfo table {
			table-layout: fixed;
			width: 400px;
		}
			.csinfo_ginfo table tr td {
				padding: 3px 0px;
				font-size: 20px;
				color: #fff;
			}
			.csinfo_ginfo table tr td:first-child {
				color: #9a7e46;
			}
			
.csinfo_glist {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}
	.csinfo_glist li {
		float: left;
		width: 30%;
		padding: 8px 10px;
	}
	.csinfo_glist li:hover {
		background: #0d0c0b;
	}

.module-requirements {
	font-size: 12px;
	margin-top: 20px;
	color: #ffcc00;
}

/* SIDEBAR */
.panel-sidebar {
	background: #1b1f23;
	background-size: cover;
	border: 1px solid #1a1c1f;
	-moz-border-radius: 0px;
	border-radius: 0px;
	-moz-box-shadow: 0 0 60px rgba(67, 118, 195, 0.3);
	-webkit-box-shadow: 0 0 60px rgba(67, 118, 195, 0.3);
	box-shadow: 0 0 60px rgba(67, 118, 195, 0.3);
}

.panel-sidebar > .panel-heading {
	background: #1b1f23 url('../img/sidebar_panel_header_bg.jpg') no-repeat;
	background-size: cover;
	color: #ffffff;
	border: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	border-bottom: 1px solid #1a1c1f;
	padding: 15px 15px;
}

.panel-usercp {
	background: url('../img/usercp_bg.jpg') no-repeat;
	background-size: cover;
	border: 1px solid #283033;
	-moz-box-shadow: 0 0 60px rgba(67, 112, 195, 0.5);
	-webkit-box-shadow: 0 0 60px rgba(67, 112, 195, 0.5);
	box-shadow: 0 0 60px rgba(67, 112, 195, 0.5);
}

.panel-usercp ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

.panel-usercp ul li {
	display: table;
	width: 100%;
	vertical-align: middle;
	line-height: 30px;
}

.panel-usercp ul li a {
	color: #f7ddbf !important;
}
.panel-usercp ul li a:active, .panel-usercp ul li a:hover {
	color: #ffffff !important;
}

.panel-usercp ul li img {
	position: relative;
	top: -2px;
	padding-right: 10px;
}

/* GENERAL PANEL STYLING */
.panel-general {
	margin-bottom: 30px;
	background: #333333 url('../img/general_table_bg.jpg') no-repeat;
	background-size: cover;
	border: 1px solid #222;
	-moz-border-radius: 0px;
	border-radius: 0px;
	color: #ccc;
}

.panel-body .panel-title {
	color: #ffcc00;
	font-family: 'PT Sans', sans-serif;
	font-size: 14px;
	border-bottom: 1px solid #222;
	margin-bottom: 20px !important;
	font-weight: bold;
	padding: 10px 0px !important;
}

/* ADD STATS MODULE */
.panel-addstats {
	background: #333333 url('../img/general_table_bg.jpg') no-repeat;
	background-size: cover;
	margin-bottom: 30px;
	border: 1px solid #222;
	-moz-border-radius: 0px;
	border-radius: 0px;
	color: #ccc;
	-moz-box-shadow: 0 0 60px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0 0 60px rgba(0, 0, 0, 0.3);
	box-shadow: 0 0 60px rgba(0, 0, 0, 0.3);
}
.panel-addstats .character-avatar img {
	width: 100px;
	height: auto;
	-moz-box-shadow: 0 0 5px #000;
	-webkit-box-shadow: 0 0 5px #000;
	box-shadow: 0 0 5px #000;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.panel-addstats .character-name {
	color: #ffcc00;
	font-family: 'PT Sans', sans-serif;
	font-size: 18px;
	padding: 20px 0px !important;
	margin-bottom: 20px !important;
	font-weight: bold;
}

/* DOWNLOADS */
.panel-downloads {
	margin-bottom: 30px;
	background: #333333 url('../img/general_table_bg.jpg') no-repeat;
	background-size: cover;
	border: 1px solid #222;
	-moz-border-radius: 0px;
	border-radius: 0px;
	color: #ccc;
	-moz-box-shadow: 0 0 60px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0 0 60px rgba(0, 0, 0, 0.3);
	box-shadow: 0 0 60px rgba(0, 0, 0, 0.3);
}
	.download-description {
		font-size: 11px;
		position: relative;
		top: -7px;
		color: #777;
	}

.online-status-indicator {
	margin-left: 5px;
}

/* NEWS */
.news-article {
	position: relative;
	padding: 15px 15px;
	transition: all 0.3s ease;
	border: 1px solid #211715;
}
	.news-article .news-image {
		padding: 10px;
	}
	.news-article .news-image img {
		width: 100%;
		height: auto;
		box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2);
	}
	.news-article .news-content {
		padding: 10px;
	}
		.news-article .news-content h3 {
			margin: 0px 0px 15px 0px;
			padding: 0px 0px 5px 0px;
			text-transform: uppercase;
			font-size: 18px;
			font-weight: bold;
			border-bottom: 1px solid #352825;
		}
		.news-article .news-content h3 a {
			color: #ffffff;
		}
		.news-article .news-content .news-date {
			font-size: 12px;
			font-style: italic;
			color: #aaa;
		}
	.news-article:hover {
		background: #2f211e;
		-moz-box-shadow: 0 0 60px rgba(0, 156, 255, 0.3);
		-webkit-box-shadow: 0 0 60px rgba(0, 156, 255, 0.3);
		box-shadow: 0 0 60px rgba(0, 156, 255, 0.3);
		border-color: #007dcc;
	}
	
/* PANEL SIDEBAR EVENT TIMERS */
.panel-sidebar-events > .panel-body {
	color: #f7ddbf;
}
	.panel-sidebar-events > .panel-body > .table {
		margin-bottom: 0px !important;
	}

.event-schedule-open {
	color: #00ff00;
}

.event-schedule-inprogress {
	color: #ffff00;
}

.panel-sidebar-events .smalltext {
	font-size: 11px;
	position: relative;
	top: -5px;
	color: #8d7962;
}

/* WEBENGINE CMS */
.webengine-powered { color: #ff0000 !important; }
.webengine-powered:active, .webengine-powered:hover { color: #ffffff !important; }